{% extends "BamlChatBundle::layout.html.twig" %}
    {% block baml_chat_body %}
    {% block baml_chat_content %}
	<div id="lienAjax" class="no_ajax" style="display:none"></div>
    <div id="content_message">  
        <div id="content-table" class="div_chat">
			<div id="listeMessage">
				Choisissez une conversation à afficher.
			</div>
		</div>
    </div>
    <br/>
    {% endblock %}
    {% endblock %}
