{% extends "BamlChatBundle::layout.html.twig" %}
    {% block baml_chat_body %}
    {% block baml_chat_content %}
        <h1>Access denied</h1
        <div class="well">You don't have permissions to see this conversation</div>
    {% endblock %}
    {% endblock %}