<div id="content-table" class="div_chat">
<table id="listeMessage" class="table table-striped table-bordered">
  <tr>
    <th width="70">Auteurs</th>
    <th>Message</th>
    <th>Date d'envoi</th>
  </tr>
  {% for message in conversation.messages %}
    <tr>
      <td style="display:none">{{message.id}}</td>
      <td>{{ message.author }}</td>
      <td>{{ message.text }}</td>
      <td>{{ message.sendDate|date('d/m/Y-H:i') }}</td>
    </tr>
  {% endfor %}
</table>
</div>
