{% extends "BamlChatBundle::layout.html.twig" %}


    {% block baml_chat_body %}
      <h4>{{conversation.title}}</h4>
    {% block baml_chat_content %}
    <div id="lienAjax" class="{{ path('baml_chat_list_ajax', {'id': conversation.id}) }}" style="display:none"></div>
    <div id="content">  

        {% include "BamlChatBundle:Conversation:listMessage.html.twig" %}

    </div>
    {% endblock %}
    {% include "BamlChatBundle:Conversation:formMessage.html.twig" %}

      <p>
        <a href="{{ path('baml_chat_list_conversation') }}" class="btn btn-primary">
          <span class="glyphicon glyphicon-chevron-left"></span>
          Retour à la liste des conversations
        </a>
      </p>
    {% endblock %}


