.div_chat{
	overflow-y:scroll;
	height : 200px;
	overflow-x:hidden;
	
}
#baml_chatbundle_message_text{
    width : 177px;
    height : 50px;
    color:black;
}
#listeMessage{
    border-radius: 10px;
}
.message_chat{
    background-color:#3598DC;
    margin : 2px;
    border-radius: 30px;
    padding : 4px;
    padding-left:10px;
    border:1px outset black;
    color:black;
}
#liste_conversation{
    display:inline;
    width:150px;
    color:black;
}
#bouton_add_conversation{
    display:inline;
    padding: 2px;
    padding-right: 0px;
    padding-left: 4px;
}
#conversation{
    margin:0 auto 0 auto;
    padding: 0 auto 0 auto;
}
#content_message{}

